<header class="w-full py-4 border-b-1 bg-bone-white text-olive-black flex justify-center items-center">
    <nav class="w-90[vw] flex justify-between items-center"> 
        <ul class=" flex space-x-8 text-lg font-medium">
            <li><a href="#about" class="hover:text-olive-green transition duration-300">About</a></li>
            <li><a href="#projects" class="hover:text-olive-green transition duration-300">Projects</a></li>
            <li><a href="#contact" class="hover:text-olive-green transition duration-300">Contact</a></li>
        </ul>
    </nav>

</header>