---
import "../styles/global.css";
import Footer from "../components/general/Footer.astro";
import Header from "../components/general/Header";
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body class="m-0 w-full h-full text-olive-black font-regular ">
		<Header client:load/>
			<main>
				<slot />
			</main>
		<Footer />
	</body>
</html>


